#usa-map {
	width: 720px;
	margin: 30px auto;
}

svg {
	background: none;
}

h1 {
	text-align: center;
	color: #1A80C4;
	font-family: helvetica, sans-serif;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #bbb;
  cursor: pointer;
}

.feature.active {
  fill: #dadada;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.d3-tip {
  line-height: 1;
  font-weight: normal;
  font-family: sans-serif;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  border-radius: 2px;
}