#usa-map {
	width: 720px;
	margin: 30px auto;
  overflow: hidden;
}

svg {
	background: none;
}

h1 {
	text-align: center;
	color: #1A80C4;
	font-family: helvetica, sans-serif;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #bbb;
  cursor: pointer;
}

.feature.active {
  fill: #dadada;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tooltip p {
  line-height: 1;
  font-weight: normal;
  font-family: sans-serif;
  margin: 0;
}